<%= form_with(model: course_criterion, local: true) do |form| %>
  <% if course_criterion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_criterion.errors.count, "error") %> prohibited this course_criterion from being saved:</h2>

      <ul>
      <% course_criterion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :course_id %>
    <%= form.collection_select :course_id, Course.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :criterion_id %>
    <%= form.collection_select :criterion_id, Criterion.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :exceeds_threshold %>
    <%= form.number_field :exceeds_threshold %>
  </div>

  <div class="field">
    <%= form.label :acceptable_threshold %>
    <%= form.number_field :acceptable_threshold %>
  </div>

  <div class="field">
    <%= form.label :below_threshold %>
    <%= form.number_field :below_threshold %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
