<!DOCTYPE html>
<html>
  <head>
    <title>Semesterproject</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <h1>ABET Evaluations</h1>

      <%= link_to "Faculties", faculties_path %>
      <%= link_to "Courses", courses_path %>
      <%= link_to "Criteria", criterions_path %>
      <%= link_to "Score", course_criterions_path %>
      <%= link_to "Course Assignment", coursefaculties_path %>
      <%= link_to "Log out", session_do_logout_path %>

    </div>



    <%= yield %>
  </body>
</html>
